.info-card {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--baby-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 8px -3px;
}

.info-card .message {
    color: var(--soft-dark);
    font-weight: 600;
    text-align: justify;
    font-size: 12px;
    line-height: 18px;
}